# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
env/
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# OS junk
.DS_Store
Thumbs.db

# Data – keep big/raw stuff out of Git
data/raw/*
data/interim/*
# But you can manually track small sample files if you want
